@font-face
{
    font-family : "Roboto" ;
    src: url('Roboto/Roboto-Regular.ttf') format('truetype');
}
/* éléments généraux de la page */
header, body, footer
{
    font-family: 'Roboto'; 
}
/* éléments header */
.header
{
    display: flex;
    justify-self: start;
    justify-content: space-between;
}
.bloc:nth-child(2)
{
    align-self: center;
    margin-right: 25px;
}
/* élements corps de la page 
/* premier cadre rouge */
.couverture
{
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-image: url('image/backgroung_image.jpg');
    height: 700px;
}
.agencegraphisme
{
    font-size: 25px;
    color: white;
}