@font-face
{
    font-family : "Roboto" ;
    src: url('Roboto/Roboto-Regular.ttf') format('truetype');
}
/* éléments généraux de la page */
header, body, footer
{
    font-family: 'Roboto'; 
}
/* éléments header */
.header
{
    display: flex;
    justify-self: start;
    justify-content: space-between;
}
.bloc:nth-child(2)
{
    align-self: center;
    margin-right: 25px;
}
/* élements corps de la page 
/* premier cadre rouge */
.couverture
{
    display: flex;
    flex-direction: column;
    justify-self: center;
    background-image: url('image/backgroung_image.jpg');
    height: 700px;
}
.agencegraphisme
{
    font-size: 25px;
    color: white;
}
/* deuxième cadre rouge */
.second_cadre_rouge
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* premier cadre bleu */ 
.premier_cadre_bleu
{
    margin: 20px;
}
/* second cadre bleu */ 
.information_entreprise
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 550px;
    text-align: center;
}
.troisieme_cadre_bleu
{
    text-align: center;
    margin-top: 15px;
}
/* élément pied de page */
footer
{
    display: flex;
    flex-direction: column;
}
.localisation
{
    text-align: center;
}